/application/cache/sessions/*
!/application/cache/sessions/index.html
/application/logs/*
!/application/logs/index.html
/uploads/projects/*
/uploads/users/*
/uploads/units/*
/uploads/documents/*
!/uploads/**/index.html
.env
.env.*
*.pem
id_rsa
id_ed25519
/frontend/node_modules
/frontend/dist
/app
/_ci_tmp
/ci3.zip
/tests/_login.json
/tests/_login_out.json
.DS_Store
